{% load static %}

<!--get every video link-->
{% if video_list %}
    <table>
        <tr>
            <th>Video</th>
            <th>Creator</th>
            <th>Summary</th>
            <th>Transcript</th>
            <th>Tags</th>
            <th>Created Date</th>
        <tr>
    {% for video in video_list %}

        <tr>
            <td><a href= {{video.link}}> {{video.title}}</a></td>
            <td>{{video.user}}</td>
            <td>{{video.summary}}</td>
            <td><a href = "{% url 'transcript' video.id %}">Script</a></td>
            <td>{{video.tags}}</td>
            <td>{{video.created_at}}</td>
        </tr>

    {% endfor %}
    </table>
{% else %}
    <p>No loom videos are available.</p>
{% endif %}

<br>
<br>
<a href = "{% url 'homeIndex'%}"> Home </a>